*.o
*.a
*.so
*.in
*.lo
*.la
.deps
.libs
*~
INSTALL
NEWS
/compile
/doc/apiref
/doc/Doxyfile
/include/quicktime/lqt_version.h
po/POTFILES
de.gmo
stamp-po
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libquicktime.pc
libtool
lqt-config
ltmain.sh
missing
mkinstalldirs
stamp-h1
libquicktime.tags
utils/dump_codecs
utils/gen_colorspace_tables
utils/gtk/libquicktime_config
utils/lqt_transcode
utils/lqtplay
utils/lqtremux
utils/qt2text
utils/qtdechunk
utils/qtdump
utils/qtinfo
utils/qtrechunk
utils/qtstreamize
utils/qtyuv4toyuv
utils/test_codec
utils/testqt
