Source: libquicktime
Priority: optional
Maintainer: Arvind R. <arvind@acarlab.com>
Build-Depends: debhelper (>> 3.0.0), libgtk2.0-dev, liblame0-dev, libvorbis-dev,libjpeg-mmx-dev | libjpeg-dev, libavcodec-dev | libavcodec-acl-dev, libpng-dev | libpng2-dev
Standards-Version: 3.5.2

Package: libquicktime-dev
Section: devel
Architecture: any
Depends: libquicktime0 (= ${Source-Version})
Description: libquicktime headers and static library
 The package contains the header files and static library
 for libquicktime.

Package: libquicktime0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: an API for writing / reading quicktime files
 Libquicktime is a library for reading and writing QuickTime files
 on UNIX systems. Video CODECs supported by this library are OpenDivX, MJPA,
 JPEG Photo, PNG, RGB, YUV 4:2:2, and YUV 4:2:0 compression.  Supported
 audio CODECs are Ogg Vorbis, IMA4, ulaw, and any linear PCM format.
 .
 Libquicktime is based on the quicktime4linux library.  Libquicktime add
 features such as a GNU build tools-based build process and dynamically
 loadable CODECs.
 .
 This package contains the shared runtime libraries

Package: libquicktime-plugin-vorbis
Section: libs
Architecture: any
Depends: libquicktime0 (= ${Source-Version}), ${shlibs:Depends}
Description: libquicktime plugin for Vorbis
 Libquicktime plugin modules supporting the Ogg-Vorbis codec

Package: libquicktime-plugin-lame
Section: libs
Architecture: any
Depends: libquicktime0 (= ${Source-Version}), ${shlibs:Depends}
Description: libquicktime plugin for Lame
 Libquicktime plugin modules supporting the Lame decoder for MP3 audio

Package: libquicktime-plugin-opendivx
Section: libs
Architecture: any
Depends: libquicktime0 (= ${Source-Version}), ${shlibs:Depends}
Description: libquicktime plugin for the OpenDivX codec
 Libquicktime plugin modules supporting the OpenDivX codec

Package: libquicktime-plugin-jpeg
Section: libs
Architecture: any
Depends: libquicktime0 (= ${Source-Version}), ${shlibs:Depends}
Description: libquicktime plugin based on libjpeg
 Libquicktime plugin modules with JPEG support 

Package: libquicktime-plugin-png
Section: libs
Architecture: any
Depends: libquicktime0 (= ${Source-Version}), ${shlibs:Depends}
Description: libquicktime plugin based on libpng
 Libquicktime plugin modules with PNG support 

Package: libquicktime-plugin-ffmpeg
Section: libs
Architecture: any
Depends: libquicktime0 (= ${Source-Version}), ${shlibs:Depends}
Description: libquicktime plugin for the ffmpeg codecs
 Libquicktime plugin modules with ffmpeg support 

Package: libquicktime-plugin-configurator
Section: graphics
Architecture: any
Depends: libquicktime0 (= ${Source-Version}), ${shlibs:Depends}
Description: plugin  configurator for libquicktime
 Configurator for libquicktime plugins with gtk interface 

Package: libquicktime-progs
Section: graphics
Architecture: any
Depends: ${shlibs:Depends}
Description: libquicktime utilities
 The lqtplay utility plays quicktime file. The lqt_transcode
 utility converts formats. qtinfo provides summary info of
 files.
